parameters:
	level: max
	paths:
		- src
		- tests
		- ecs.php
		- rector.php
	excludePaths:
		- tests/temp (?)

	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		implicitThrows: false
		checkedExceptionClasses:
			- StrictPhp\HttpClients\Exceptions\RuntimeException
