parameters:
	level: max
	paths:
		- src
		- tests
		- ecs.php
		- rector.php
	ignoreErrors:
		- '~Parameter \#1 \$min \(int\<1, max\>\) of function random_int expects lower number than parameter \#2 \$max \(int\<2, max\>\)\.~'

	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		implicitThrows: false
		checkedExceptionClasses:
			- StrictPhp\HttpClients\Exceptions\RuntimeException
